/* snall phones */
@media screen and (max-width: 530px) {
    html {
        font-size: 8px;
    }

    h1.h1-title {
        font-size: 4rem;
        line-height: 4.6rem;
        width: 80%;
        margin-bottom: 2rem;
    }

    .logo {
        height: 6rem;
        width: 100%;
    }

    nav {
        height: 5rem;
    }

    .main-nav {
        margin-bottom: 4rem;
    }

    .img-container {
        margin-bottom: 2rem;
    }

    .attractions-pictures_first-row {
        width: 90%;
        margin: 0 auto;
    }

    .ramsteak-left,
    .ramsteak-right {
        width: 90%;
        margin: 0 auto;
        display: block;
        float: none;
        height: 30rem;
    }

    .grapesPool-img{
        margin-top: 3rem;
    }

    .section-about-mljet {
        margin-top: 3rem;
    }

    .video-player-wrapper {
        height: 300px;
        width: 90%;
        margin: 0 auto;
    }

    .carousel-container {
        height: 300px;
        width: 90%;
        margin: 0 auto;
    }

    #mainSlider__dots1 {
        font-size: 1rem;
        height: 5rem;
    }

    .quote {
        padding: 3rem;
        font-size: 4rem;
        line-height: 4.5rem;
        margin: 2rem auto;
    }

    .banner-1{
        background-size: 100%;
        height: 100px;
        width: auto;
    }

    .reach-h2-title:after {
        width: 32%;
    }

    .section-how-to-reach-mljet {

       height: 700px;
        padding-top: 8rem;
        background-size: 60%,25%, 100%;
        background-position: left, 100% 35%, center;
    }

    .how-to-reach-text{
        padding: 3rem;
    }

   .btn-find-out{
       margin: 2rem auto;
   }

    .about-text {
        margin-bottom: 2rem;
        padding: 3rem;
    }

    .footer-container{
        margin-top: -28rem;
    }
    .footer-p-1,
    .footer-p-2,
    .footer-p-3{
       text-align: center;
        border: none;
    }
   /* .footer-p-1:after,
    .footer-p-2:after{
        background-color: #717171;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 15%;
        margin: 3% auto;
    }*/

    .icon-list{
    margin-bottom: 2rem;
    }

    .footer-hr {
        height: 1px;
    }

    .copyright, .author, .cookies{
        text-align: center;
        padding: .3rem 1rem;
    }


}
